result/provenance/capd-cflags.txt -diff
result/provenance/capd-libs.txt -diff
result/provenance/compile-command.txt -diff
result/provenance/compiler-version.txt -diff
result/stderr/A0001.txt -diff
result/stderr/A0004.txt -diff
result/stderr/A0007.txt -diff
